package-lock.json
node_modules/
yarn.lock
personal-notes.md
coverage/
.idea/
/node_modules/
back-end/package-lock.json
*/node_modules/
back-end/yarn.lock
back-end/personal-notes.md
back-end/coverage/
back-end/coverage/
